html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background-color: #0f0f12;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  min-height: 100vh; /* 이 요소의 최소 높이는 화면의 100% 높이*/
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

* {
  color: #ededed;
}
